@model List<AcunMedyaTravelProject.Entities.Destination>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Konumlar Sayfası</h2>

<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>DestinationID</th>
                <th>Resim Linki</th>
                <th>Başlık</th>
                <th>Fiyat</th>
                <th>Süre</th>
                <th>CategoryID</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {

                <tr>
                    <td>@item.DestinationID </td>
                    <td><img src="@item.ImageUrl" style="width:80px;height:80px" /></td>
                    <td>@item.Title </td>
                    <td> <div class="cell-content">@item.Description1</div></td>
                    <td>@item.Description2</td>
                    <td>@item.CategoryID</td>
                    <td> <a href="/Destination/UpdateDestinations/@item.DestinationID" class="btn btn-danger">Güncelle</a></td>
                    <td><a href="/Destination/DeleteDestinations/@item.DestinationID" class="btn btn-dark">Sil</a></td>

                </tr>
            }
        </tbody>

    </table>
    <a href="/Destination/CreateDestinations" class="btn btn-success">Ekle</a>
</div>


