@model AcunMedyaTravelProject.Entities.Destination
@{
    ViewBag.Title = "UpdateDestination";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2 class="modern-title">Konumlar Güncelleme Sayfası</h2>

<form method="post">

    @Html.HiddenFor(x => x.DestinationID)

    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title)
    <br />

    <label>Resim Linki</label>
    @Html.TextBoxFor(x => x.ImageUrl)
    <br />

    <label>Fiyat</label>
    @Html.TextBoxFor(x => x.Description1)
    <br />

    <label>Süre</label>
    @Html.TextBoxFor(x => x.Description2)
    <br />

    <label>CategoryID</label>
    @Html.TextBoxFor(x => x.CategoryID)
    <br />


    <button>Güncelle</button>

</form>
